<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <link rel='stylesheet' href="/css/login.css" type="text/css">
</head>
<body>
    <% include ../partials/bodyheader %>
    <div class="container">
        <form action="/dashboard" method="post">
            <p class="btn-warning"> Little Help: Field input has datalist open it for fields</p>
            <input type="text" list="field[field]" name="field[field]" placeholder="Field"/ >
            <datalist id = "field[field]">
                <% fields.forEach(function(field){%>
                    <option value="<%=field.field%>"><%= field.field %></option>
                <%})%>
            </datalist>

            <input type="text" name='field[subject]' placeholder="Subject">
            <button class="btn btn-lg upload-btn">Create</button>
        </form>        
    </div>


    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>
</body>
</html>