
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
                <h1 class="logo-div">
                        <a href="/">Online Tutor Bot</a>
                </h1>
        </div>
        <nav class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav navbar-right" >
                <%if(!currentUser){%>
                    <li>
                    <a href="/signin">Login</a>
                </li>
                <li>
                    <a href="/register">Sign Up</a>
                </li>  
                <% }else{ %>
                <li><a href="#">Signed as <%=currentUser.username %></a></li>    
                <li>
                    <a href="/logout">Logout</a>
                </li>  
                <% }%>
                
            </ul>
        </nav>
    </div>

</nav>


<div class="container">
    <% if (error && error.length > 0 ) {%>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <%  } %>
    <% if (success && success.length > 0) {%>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>
</div>

