<% include ../partials/header %>

<div class="container">
        <div class="row">
            <h1 style="text-align: center;">Enter Information</h1>
                <div style="width:30%; margin: 25px auto;">
                    <form action="/tutor/info" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" name="tutor[firstname]" value="<%=user.firstname %>" disabled>
                        </div>

                        <div class="form-group">
                                <input class="form-control" type="text" name="tutor[lastname]" value="<%=user.lastname%>" disabled>
                        </div>

                        <div class="form-group">
                                <button class="btn btn-lg upload-btn" type="button">Upload Image</button>
                                <input type="file" name="tutor[tutorImage]" id="upload-input" style="display:none" required>
                        </div>

                        <div class="form-group">
                                <input class="form-control" type="text" name="tutor[graduation]" autocomplete="off" placeholder="graduation year" list="tutor[graduation]">
                                <datalist id="tutor[graduation]" required>
                                    <% for (var year = 2023; year >= 1975; year--){%>
                                        <option value="<%=year%>"><%=year%></option>
                                    <%}%>
                                </datalist>
                        </div>

                        <div class="form-group">
                                <input class="form-control" type="text" name="tutor[school]" placeholder="school" required>
                        </div>

                        <div class="form-group">
                                <input class="form-control" type="text" name="tutor[major]" placeholder="major" required>
                        </div>

                        <div class="form-group">
                                <input class="form-control" type="text" name="tutor[country]" placeholder="county">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-lg btn-primary  btn-block">Proceed!</button>
                        </div>   

                    </form>
                    <!--a href="/">Go Back</a-->
                 </div>
        </div>
    </div>




<% include ../partials/footer %>